body {
    margin: 0;
    background-color: #000;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.stopWatchContainer {
    background-color: transparent;
    border: none;
    border-radius: 1em;
    min-width: 50vw;
    min-height: 90vh;
    box-shadow: 0 0 0.5em yellow, 0 0 1em gold;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.stopWatch {
    position: absolute;
    top: 5%; left: 50%;
    transform: translateX(-50%);
    min-width: 120%;
    min-height: 50%;
    font-size: 8em;
    color: #fff;
    border: none;
    border-radius: 0.25em;
    box-shadow: 0 0 0.125em #fff;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controlButton {
    position: absolute;
    bottom: 5%;
    min-width: 25%;
    min-height: 25%;
    text-align: center;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.125em;
    background-color: transparent;
    font-size: xx-large;
    font-weight: bolder;
    font-style: italic;
    cursor: pointer;
}

.start-stop {
    left: 25%;
    transform: translateX(-50%);
    color: darkgreen;
    border-color: darkgreen;
    border-bottom-color: transparent;
    transition: color 1000ms ease, border-color 1000ms ease, border-bottom-color 1000ms ease;
}

.start-stop:hover {
    color: green;
    border-color: transparent;
    border-bottom-color: green;
}

.reset {
    right: 25%;
    transform: translateX(50%);
    color: darkred;
    border-color: darkred;
    border-bottom-color: transparent;
    transition: color 1000ms ease, border-color 1000ms ease, border-bottom-color 1000ms ease;
}

.reset:hover {
    color: red;
    border-color: transparent;
    border-bottom-color: red;
}